.typeWindows-2-g3UY>.wordmark-2u86JB:before{content:"Rexxah Theme"; }
.typeWindows-2-g3UY>.wordmark-2u86JB>svg { filter: none; }
.typeWindows-2-g3UY>.wordmark-2u86JB>svg>path { fill: var(--text-muted); }
.typeWindows-2-g3UY>.wordmark-2u86JB:after{content:"v1.0";color:rgba(255,255,255,.3);font-family:var(--code-font);font-size:10px}.typeWindows-2-g3UY>.wordmark-2u86JB>svg{filter:drop-shadow(0 0 5px var(--main-color));margin-top:6px}.typeWindows-2-g3UY>.wordmark-2u86JB>svg>g>path{fill:var(--main-color)}
}
